name: Sync Labels

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - .github/labels.yml

jobs:
  labels:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: write
    steps:
      - uses: actions/checkout@v4
      - name: Apply labels
        uses: crazy-max/ghaction-github-labeler@v5
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          config-file: .github/labels.yml
